* {
    margin: 0;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    background-color: #000000;
}

#nav ul {
    padding: 10px;
}

#nav li {
    display: inline-block;
    list-style-type: none;
}

#nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    margin-left: 15px;
}

#nav li a:hover {
    color: #808080;
}

#nav li a:active {
    background-color: #ffffff;
    color: #000000;
}

#nav .first {
    margin-left: 30px;
}

#nav .last {
    float: right;
    margin-right: 15px;
}

#nav input[type=text] {
    width: 300px;
    padding: 5px;
    border: none;
    font-size: 15px;
}

#profile-details, #account-details, #edit-details {
    background-color: #d6d6d6;
    margin: 10px 20px;
}

#edit-details {
    margin: 10px 0;
}

#profile-content, #account-content, #edit-content {
    margin: 0 10px;
    padding: 0 10px;
}

#profile-content h1, #account-content h1, #edit-content h1 {
    font-size: 32px;
    box-shadow: 5px 5px black;
    border: black solid 1px;
    padding: 10px 10px;
    margin-top: 10px;
}

#profile-details p, #account-details p, #edit-details label {
    font-size: 20px;
    padding: 10px 10px;
}

#edit-details form label {
    display: block;
}

#edit-details form input[type="password"], #edit-details form input[type="email"] {
    margin-left: 10px;
    font-size: 25px;
    padding: 10px 10px;
}

table {
    font-size: 20px;
    padding: 10px 10px;
}

.bold {
    font-weight: bold;
}

.gap {
    margin-left: 50px;
}

#copyright {
    margin-top: 100px;
}

.center-text {
    text-align: center;
}

#login-form, #register-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    width: 400px;
    background-color: #5b6574;
    margin: 100px auto;
}

#login-form h1, #register-form h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

.msg {
    text-align: center;
}

#login-form label, #register-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 10px 0;
}

#login-form input[type="password"], #login-form input[type="text"], #register-form input[type="password"], #register-form input[type="text"], #register-form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #000000;
    margin-bottom: 10px;
    display: flex;
}

#login-form button[type="submit"], #register-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    font-weight: bold;
    color: #ffffff;
}

#login-form button[type="submit"]:hover, #register-form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

#account-details .general-btn, #edit-details .general-btn {
    display: inline-block;
    background-color: #2868c7;
    font-size: 20px;
    padding: 15px 10px;
    margin: 0 0 20px 14px;
    width: fit-content;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #000000;
    /* box-shadow: 4px 5px #0e4392; */
    border-width: 0 4px 4px 0;
    border-color: transparent #0e4392 #062e69 transparent;
}

.general-btn:hover {
    cursor: pointer;
}

.general-btn:active {
    /* box-shadow: 1px 2px #06285c; */
    transform: translateY(3px);
}

#edit-details .general-btn {
    padding: 10px 30px;
    margin: 10px 10px;
}